* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ffb900;
    --sen-font: normal 700 0px/0 "Sen", "sans-serif";
}
html {
    font-size: 62.5%;
}
/* none */
/* ------Common------ */
a {
    text-decoration: none;
}
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 999px;
}
.btn:hover {
    opacity: 0.9;
}
/* =========================Header ======================*/
.header {
    padding: 36px 0 8px;
    background-color: #fffcf4;
    z-index: 2;
}
.fixed {
    position: sticky;
    top: -28px;
}
.navbar {
    display: flex;
    align-items: center;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.nav ul a {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    color: #5f5b53;
    padding: 8px 42px;
}
.nav ul a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
    /* text-decoration: underline; */
}
.nav ul .active::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 6px;
    left: 42px;
    width: 12px;
    height: 1px;
    background: #171100;
    border-radius: 1px;
}
.navbar .action-btn .btn {
    background: #171100;
    min-width: 144px;
    padding: 0px 41px;
    margin-left: 70px;
    line-height: 50px;
}
/* =========================Hero======================*/
.hero {
    padding: 56px 0 65px;
    background-color: #fffcf4;
}
.hero .course {
    position: relative;
}
.hero .row {
    display: flex;
}
.content.course,
.content .info {
    width: 48%;
}
.course .hero-img {
    display: block;
    margin-left: auto;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}
.row .hero-course {
    position: absolute;
    top: 395px;
    left: 300px;
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px 24px 24px;
}
.course-box {
    display: flex;
    align-items: center;
}
.course-box + .course-box {
    margin-top: 22px;
}
.course-text {
    display: block;
    margin-left: 16px;
}
.course-text .course-text-nu {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */
    color: #5f5b53;
}
.course-text .course-text-co {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */
    color: #171100;
}
.row .info {
    margin-top: 66px;
    margin-left: 230px;
}

.info .sub-title {
    margin-bottom: 22px;
    width: 482px;
    font: var(--sen-font);
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    /* or 117% */
    color: #171100;
}

.info .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */
    color: #5f5b53;
}
.info .descs {
    margin-top: 48px;
}
.info .info-btn {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.info-btn .info-cta {
    display: flex;
    min-width: 180px;
    padding: 0px 34px;
    font-size: 1.8rem;
    line-height: 64px;
    /* identical to box height, or 167% */
    color: #ffffff;
    /* background: #ffb900; */
    border-radius: 32px;
}
.info-btn .watch-video {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: #fffcf4;
}
.info .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}
.info-btn .desc {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */
    color: #171100;
}
.info-btn span {
    white-space: nowrap;
    margin-left: 14px;
}

.row-qty {
    display: flex;
    margin-top: 8px;
}
.row-qty .row-qty-desc {
    display: flex;
    align-items: baseline;
}
.row-qty .row-qty-desc:nth-child(2) {
    margin-left: 28px;
}

.row-qty strong {
    font: var(--sen-font);
    font-size: 4.4rem;
    line-height: 1.23;
    /* identical to box height, or 123% */
    color: #171100;
    margin-right: 10px;
}

/* =========================Popular======================*/
.popular {
    padding: 200px 0;
}
.feature .popular-course {
    font: var(--sen-font);
    font-size: 3.8rem;
    line-height: 1.26;
    /* identical to box height, or 126% */
    letter-spacing: -0.02em;
    color: #171100;
}
.qty {
    display: flex;

    justify-content: space-between;
}
.qty p {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */
    color: #5f5b53;
}
.qty .controls {
    display: flex;
    align-items: center;
    gap: 18px;
}
.controls .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    background-color: transparent;
}
.controls .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}
/* Item */
.feature .list-item {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.item {
    flex: 1;
    margin-top: 55px;
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.item .body {
    padding: 16px 22px 22px 22px;
}
.item .thumb {
    width: 370px;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}
.body .desc {
    display: flex;
    align-items: center;
}
.body .desc-course {
    margin-top: 6px;
    width: 326px;
    height: 52px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* or 186% */
    color: #5f5b53;
}
.body .buy {
    display: flex;
    margin-top: 12px 0 22px 0;
    align-items: center;
}
.desc .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */
    color: #171100;
}
.desc .number {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    color: #fea31b;
}
.desc .comment {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.buy p {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */
    color: #171100;
}
.buy .byu-button {
    margin-left: auto;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 50px;
    /* identical to box height, or 186% */
    text-align: center;
    color: #ffffff;
    border-radius: 999px;
}
.btn-color {
    background: #171100;
}

/* =========================Comment======================*/
.prize {
    background-color: #2e2100;
}

.rowed {
    display: flex;
    align-items: center;
    padding: 96px 0;
}
.rowed .info {
    /* width: 14%; */
}
.rowed .text {
    display: block;
    width: 66%;
    margin-left: auto;
}
.infomation {
    display: block;
}
.infomation .avatar {
    width: 72px;
    height: 72px;
    border-radius: 999px;
}
.infomation .name {
    margin-top: 18px;
    font: var(--sen-font);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    /* identical to box height, or 142% */
    color: #f7f7f7;
}
.infomation .work {
    margin-top: 4px;
    width: 159px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */
    color: #bfbcb3;
}
.page {
    margin-top: 28px;
    display: flex;
}
.pages + .pages {
    margin-left: 6px;
}
.page .pages {
    width: 6px;
    height: 6px;
    background: #ffb900;
    border-radius: 999px;
}
.page .pages:nth-child(odd) {
    background: #634700;
}
.text-img {
    position: absolute;
}
.text-comment {
    position: relative;
    padding: 28px 0 0 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    /* or 154% */
    color: #ffffff;
}

/* =========================Features======================*/
.fea-cta {
    padding-top: 200px;
}
.row-fea {
    display: flex;
}
.row-fea .all-img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.row-fea .row-fea-img {
    display: flex;
    width: 58%;
}
.row-fea .fea-text {
    margin: 58px 0 58px 130px;
}
.row-fea-img :nth-child(1) {
    margin-top: 34px;
}
.row-fea-img :nth-child(2) {
    margin: 0 0 34px 30px;
}

.fea-text .learned {
    width: 470px;
    height: 96px;
    font: var(--sen-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    /* or 126% */
    letter-spacing: -0.02em;
    color: #171100;
}
.fea-text .fea-text-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */
    color: #5f5b53;
}
.fea-text .year {
    width: 458px;
    height: 84px;
    margin: 16px 0 16px 0;
}
.fea-text .fea-text-btn {
    margin-top: 32px;
    border: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    /* identical to box height, or 175% */
    color: #ffffff;
    /* background: #ffb900; */
}

/* cta */
.fea-cta .cta {
    margin: 200px 0;
    display: flex;
}
.cta-desc .cta-intro {
    margin: 71px 0 16px 0;
    width: 570px;
    height: 144px;
    font: var(--sen-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    /* or 126% */
    letter-spacing: -0.02em;
    color: #171100;
}
.cta-desc .cta-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */
    color: #5f5b53;
}
.cta-desc .cta-btn {
    margin-top: 32px;
    border: none;
    border-radius: 26px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    /* identical to box height, or 175% */
    color: #ffffff;
}
.cta-img .cta-picture {
    margin-left: 130px;
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
    color: #ffffff;
}
/* =========================Blog======================*/
.blog {
    background: #fffcf4;
}
.blog .main-blog {
    padding: 96px 0 140px 0;
}
.main-blog .blog-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 55px 0;
}
.blog-desc .blog-title {
    margin-bottom: 16px;
    font: var(--sen-font);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    /* identical to box height, or 126% */
    letter-spacing: -0.02em;
    color: #130606;
}
.blog-desc .blog-qty {
    width: 448px;
    height: 56px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
    text-align: center;
}
.blog-item {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}
.blog-item .blog-picture {
    width: 370px;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}
.main-blog .blog-img {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.blog-item .blog-item-time {
    position: relative;
    margin: 20px 0 25px 30px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* identical to box height, or 186% */
    color: #5f5b53;
}
.blog-item .blog-item-time:after {
    content: "";
    top: 10px;
    left: -10px;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffb900;
}
.blog-item .blog-item-time::before {
    content: "";
    top: 29px;
    left: -9px;
    width: 160px;
    height: 1px;
    position: absolute;
    background: #e2dfda;
    border-radius: 0.5px;
    margin: 12px 0;
}
.blog-item .blog-item-desc {
    margin-left: 20px;
    width: 330px;
    height: 56px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */
    color: #171100;
}

.blog-item .blog-btn {
    margin: 12px 0 28px 20px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 50px;
    /* identical to box height, or 186% */
    color: #ffffff;
}
.b-page {
    display: flex;
    justify-content: center;
}
.b-page .blog-page:nth-child(odd) {
    background: #5f5b53;
}
/* =========================Footer======================*/
.footer {
    background: #2e2100;
}
.footer .finished {
    display: flex;
    padding: 96px 0 82px 0;
    align-items: center;
}
.footer .social {
    width: 35%;
}
.social .social-desc {
    margin: 18px 0 18px;
    width: 267px;
    height: 78px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    /* or 186% */
    color: #bfbcb2;
}
.social .social-icon {
    display: flex;
}
.social-icon a + a {
    margin-left: 16px;
}
.footer .contact {
    display: flex;
    justify-content: space-around;
}
.contact .contact-item + .contact-item {
    /* margin-left: 130px; */
}
.contact-item .contact-title {
    display: flex;
    position: relative;
}
.contact .contact-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    color: #ffffff;
}
.contact ul a {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.86;
    /* identical to box height, or 186% */
    color: #bfbcb2;
}

.contact-item .item-qty {
    margin-top: 34px;
    min-width: 211px;
}
.contact-item .contact-title:after {
    top: 42px;
    left: 0;
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    background: #59554b;
}
.item-qty .contact-item-strong {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.75;
    /* identical to box height, or 175% */
    color: #ffffff;
}
.company-title {
    width: 130px;
    /* height: 211px; */
}
.support-title {
    width: 137px;
    /* height: 211px; */
}
.address-title {
    width: 231px;
    /* height: 199px; */
}
